<!--{% load static %}-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="{% static 'css/custom.css' %}">-->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="{% url 'demo' %}" style="color:Crimson;">-->
<!--      <img src="{% static 'img/sublogo.jpg' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
<!--      <b>BLOOD BANK</b>-->
<!--    </a>-->
<!--     <a class="nav-link active" href="{% url 'demo' %}"><b style="color:black;">Home</b></a>-->
<!--     <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#" style="color:Black;font-family:Arial">Home</a>-->
<!--        </li>-->

<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:Black;font-family:Arial">-->
<!--            Places-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="{% url 'placedet' %}">Thrissur</a></li>-->
<!--            <li><a class="dropdown-item" href="">Idukki</a></li>-->
<!--            <li><a class="dropdown-item" href="">Kottayam</a></li>-->
<!--            <li><a class="dropdown-item" href="">Alappuzha</a></li>-->
<!--            <li><a class="dropdown-item" href="">Palakkad</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->

<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--    </nav>-->
<!--    <title>Places</title>-->
<!--</head>-->
<!--{% block content %}-->
<!--{% if place in Places%}-->
<!--<h1>{{Places.name}}</h1>-->
<!--<br>-->
<!--<h4>{{Places.desc}}</h4>-->
<!--{% endif %}-->
<!--{% endblock %}-->